<div class="home-qotd">
    <h4 class="qotd-header">Quote of the day</h4>
    <!-- placeholder quote -->
    <p class="qotd-quote">"The value of an idea lies in the use of it."</p>
    <p class="qotd-author">- Thomas Edison</p>
    <!-- I will add daily quotes via API later -->
</div>

<div class="home-potd">
    <h4 class="potd-header">Post of the day</h4>
    <!-- placeholder post -->
    <a href="#">
        <p class="potd-title">A post title</p>
    </a>
    <!-- This is the post's title and will link to the post | add when potd mechanism is figured out -->
    <a href="#">
        <p class="potd-author">- Author</p>
    </a> <!-- This is the author's username and will link to it | add when author model is made-->
    <p class="potd-content-preview">Lorem ipsum dolor sit amet consectetur adipisicing elit... <a href="#"
            class="read-more">Read more</a></p>
</div>